<h1>Event Creator: <%= link_to @event.creator.name,user_path %></h1>


<h1><%=@event.title %></h1>

<div class="row">
    <div class='event-page'>
      <p><%= @event.description %></p>
        <span>Event location: <%= @event.location %></span>
        <span>Event date: <%= @event.date.strftime("%Y/%m/%d") %><span>
</div>